<div class="main">
    <p class="heading">Контакты</p>

    <div class="nameFond">
        <p class="phrase">Название:</p>
        <!-- <ng-container *ngIf="getAdminWork() then inputTemplate else valueTemplate"></ng-container> -->
    </div>

    
</div>

<ng-template #inputTemplate>
        <!-- <textarea [(ngModel)]="edithContent"></textarea>     -->
        <!-- <button (click)="setNewContact('nameOfTheOrganization', name.value)">Принять изменения</button> -->
</ng-template>
<ng-template #valueTemplate>
    <!-- <div *ngFor="let con of content$|async" class="childPanel"> -->
        <!-- <p>{{con.nameOfTheOrganization}}</p> -->
    <!-- </div> -->
</ng-template>