<div class="main_page">
    <div class="help_main">
        <div class="help_main__info">
            <div class="heading">
                <p class="heading">Помогаем помогать</p>
            </div>
            
            <div class="text">
                <p>Мы работаем, что бы у каждого онкобольного ребенка появился шанс на жизнь.</p>
            </div>  
            
            <div class="button"><button routerLink="/" class="help_button">Помочь</button></div>
        </div>
        <div class="help_main_img">
            <img src="/assets/helpmain.jpg" alt="изображение отсутствует">
        </div>
    </div>
    <div class="infoFond">
        <div class="infoVideo">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/PAlQ2wt4jvM" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="text">
            <p>С 2008 года Фонд НОНЦ занимается оказанием различных видов помощи детям из Нижегородской области,
                страдающим онкологическими и онкогематологическими заболеваниями.<br>
                Детский рак излечим!<br><b> ШАНС ВЫЖИТЬ ЕСТЬ У КАЖДОГО МАЛЕНЬКОГО ПАЦИЕНТА!</b><br>
                Мы вместе с вами можем им помочь!</p>
        </div>        
    </div>

    <div class="panel">
        <div><input [(ngModel)]="child.donatSum" placeholder = "Сумма платежа" />
            <button (click)="addChild(child)">Добавить</button>
        </div>
        <table>
            <tr *ngFor="let ch of childList">
                <td>{{ch.id}}</td>
                <td>{{ch.name}}</td>
                <td>{{ch.patronym}}</td>
                <td>{{ch.surname}}</td>
                <td>{{ch.needSum}}</td>
                <td>{{ch.donatSum}}</td>
            </tr>
        </table>
    </div>
    
</div>
