<div class="content">
<app-main-menu></app-main-menu>
<div class="main_page">
    <div class="help_main">
        <div class="help_main__info">
            <div class="heading">
                <p class="heading">Помогаем помогать</p>
            </div>
            
            <div class="text">
                <p>Мы работаем, что бы у каждого онкобольного ребенка появился шанс на жизнь.</p>
            </div>  
            
            <div class="button"><button class="help_button">Помочь</button></div>
        </div>
        <div class="help_main_img">
            <img src="/assets/helpmain.jpg" alt="изображение отсутствует">
        </div>
    </div>
</div>
<app-footer></app-footer>
</div>