<!-- Компонент, включающий в себя шапку сайта = меню навигации -->
<header>
    <div class="logo">
        <a href="/" class="logotype">
            <div><b>Фонд</b>НОНЦ</div>
            <span>помощь онкобольным детям</span>
        </a>
    </div>    
    <div class="menu">        
        <nav class="top-menu">            
            <ul class="menu-main">
              <li><a href="">О фонде</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="">Дети</a></li>
              <li><a href="">Получить помощь</a></li>
              <li><a href="">Проекты</a></li>
              <li><a href="">Отчеты</a></li>
              <li><a href="">Партнёрам</a></li>
              <li><a href="">Контакты</a></li>
              <li class="help"><a href="">Помочь</a></li>
            </ul>
        </nav>
    </div>
</header>

<p>main-menu works!</p>
<p>menu component works!</p>

<!-- <header> -->
    <!-- <div class="logo"> -->
      <!-- <img src="assets/fullLogo.jpg" alt="логотип фонда" class="logo_img">       
    </div>
    <div class="menu">
      
    </div>
  </header> -->