<div class="main_about_fond">

    <div class="about_fond_name">

        <div class="fond_name">
            <div class="fond">
                <p>ФОНД</p>
            </div>
            <div class="nonc">
                <p>НОНЦ</p>
            </div>
        </div>

        <div class="quote">
            <p>Благодаря помощи неравнодушных людей нам удается <span class="imp">помочь людям</span>, оказавшимся в беде, <span class="imp">обрести надежду!</span> 
                И мы будем продолжать это делать, пока у нас есть единомышленники,
                 а их у нас с каждым днем все больше.
            </p>
        </div> 

    </div>

    <div class="infoFond">
        <div class="infoFond_content">
            <!-- Позже контент разнесу по разным компонентам -->
            <div class="visibleContent"  *ngIf="content === 'aboutFond'">
                <div class="title">
                    <p class="titleF">О ФОНДЕ</p>
                </div>
                <div class="text">
                    <p>Каждый год в России 5000 детей и подростков заболевают раком крови и другими онкологическими
                    заболеваниями.</p>
                    <p class="key">Почти 80% детей, впервые заболевших раком, выходят в стойкую пятилетнюю ремиссию , благодаря
                    современному лечению.</p>
                    <p>К сожалению, иногда маленьким пациентам, чтобы поправиться, требуется не то лекарство, которое оплачивает
                    государство,
                    иногда необходимо обследование, которое не покрывается фондом обязательного и даже дополнительного
                    медицинского
                    страхования, часто нужно сопровождение поездок для диагностики и лечения в других городах и даже
                    странах, нужны
                    средства тем, кого нельзя вылечить, но можно облегчить страдания.
                    </p>
                    <p>
                    Чтобы дети могли получить необходимую помощь своевременно и в полном объеме существуют благотворительные
                    фонды.
                    </p>
                    <p>
                    Некоммерческая организация Фонд «Нижегородский онкологический научный центр» (далее по тексту Фонд НОНЦ)
                    основан
                    в 2004 году. Основной целью создания фонда было строительство на территории г. Нижнего Новгорода
                    онкологического
                    научного центра базирующегося на новейших достижениях медицины, естественных наук, высоких технологий.
                    Однако из-за
                    финансовых трудностей реализовать данный проект не удалось и в 2008 году Фонд «НОНЦ» стал заниматься
                    благотворительной
                    деятельностью - помощь детям, страдающим онкологическими и онкогематологическими заболеваниями,
                    проживающими в
                    Нижегородской области.
                    </p>
                    <p class="key">
                    Главной задачей Фонда НОНЦ является оказание адресной помощи детям на покупку лекарств, прохождение
                    дорогостоящих обследований и процедур, оплату проезда и проживания при обследованиях, а также оказание
                    материальной помощи и
                    проведение реабилитационных мероприятий.
                    </p>
                    <p>
                    Фонд работает только напрямую с врачами онкологического и гематологического отделений Нижегородской
                    областной
                    детской клинической больницы. Именно от врачей мы получаем достоверную информацию о тех детях, которым
                    срочно нужна
                    помощь.
                    </p>    
                    <p class="key">Деятельность фонда осуществляется полностью на средства благотворителей. Это коммерческие
                    организации и
                    просто граждане, неравнодушные к чужой беде.</p>
                    <p>Сбор денежных средств ведется с помощью: организации благотворительных акций и вечеров,
                        обращения напрямую к крупным благотворителям и организациям, обращения к частным жертвователям через
                        средства
                        массовой информации, установления кубов для сбора пожертвований.
                    </p>
                    <p class="key">
                        Детский рак излечим! Шанс выжить есть у каждого маленького пациента! Мы вместе с вами стараемся помочь!
                    </p>
                </div>
            </div> 
            <div class="visibleContent"  *ngIf="content === 'ourTeam'">
                <div class="title">
                    <p class="titleF">НАША КОМАНДА</p>
                </div>
                <div class="text">
                    <img src="/assets/team.jpg" alt="image not found">
                </div>
            </div> 
        </div>
        <div></div>
        <div class="menuFond">
            <ul class="submenu">
                <li>
                    <div class="submenu_link">
                        <a class="link" (click)="changeContent('aboutFond')">О фонде</a>
                    </div>
                </li>
                <li>
                    <div class="submenu_link">
                        <a class="link" (click)="changeContent('ourTeam')">Наша команда</a>
                    </div>
                </li>
                <li>
                    <div class="submenu_link">
                        <a class="link" (click)="changeContent('expertCouncil')">Экспертный совет</a>
                    </div>
                </li>
                <li>
                    <div class="submenu_link">
                        <a class="link" (click)="changeContent('structFond')">Организациооная структура фонда</a>
                    </div>
                </li>
                <li>
                    <div class="submenu_link">
                        <a class="link" (click)="changeContent('frequentQuestions')">Самые частые вопросы</a>
                    </div>
                </li>
                <li>
                    <div class="submenu_link">
                        <a class="link" (click)="changeContent('thanks')">Благодарности</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>