<div class="main_about_fond">

    <div class="about_fond_name">

        <div class="fond_name">
            <div class="fond">
                <p>ФОНД</p>
            </div>
            <div class="nonc">
                <p>НОНЦ</p>
            </div>
        </div>

        <div class="quote">
            <p>Благодаря помощи неравнодушных людей нам удается <span class="imp">помочь людям</span>, оказавшимся в беде, <span class="imp">обрести надежду!</span> 
                И мы будем продолжать это делать, пока у нас есть единомышленники,
                 а их у нас с каждым днем все больше.
            </p>
        </div> 

    </div>

</div>