<footer>
    <div class="info_fond">
       
        <div class="info_fond__name">
            <p><b>Фонд</b><br>НОНЦ</p>
        </div>

        <div class="info_fond__menu_1">
            <div class="menu_item">
                <a href="">О фонде</a>
            </div>
            <div class="menu_item">
                <a href="">Новости</a>
            </div>
            <div class="menu_item">
                <a href="">Дети</a>             
            </div>
            <div class="menu_item">
                <a href="">Получить помощь</a>
            </div>
        </div>
        <div class="info_fond__menu_1">
            <div class="menu_item">
                <a href="">Проекты</a>
            </div>
            <div class="menu_item">                
              <a href="">Отчеты</a>
            </div>
            <div class="menu_item">                
              <a href="">Партнёрам</a>
            </div>
            <div class="menu_item">
                <a href="">Контакты</a>
            </div>            
        </div>
        <div class="contact">
            <div class="number">+7 (953) 415 57 77</div>
            <div class="index">6030024 Н.Новгород <br>ул.Невзоровых д.49 помещение 9</div>
        </div>
        
    </div>
</footer>
