<footer>
    <div class="info_fond">
       
        <div class="info_fond__name">
            <p class="head"><b>Фонд</b></p>
            <p class="text">НОНЦ</p>
        </div>
        <div class="contact">
            <div class="number"><a href="tel:+79534155775" class="phone">+7 (953) 415 57 75</a></div>
            <div class="index">6030024 Н.Новгород <br>ул.Невзоровых д.49 помещение 9</div>
            <div class="email"> <a href="mailto:fondnonc@mail.ru" class="e-mail">fondnonc@mail.ru</a></div>
        </div>
        
    </div>
</footer>
