

<div class="main">
    <p class="heading">
        Новости
    </p>

    <div class="ngContent">
        <ng-container *ngIf="adminWork then inputTemplate else valueTemplate"></ng-container>
    </div>

</div>

<!-- Версия при админ панели -->
<ng-template #inputTemplate>
    <div class="newsContent admin">
        <div class="addOrEdithNews">
            <form novalidate [formGroup]="addNewsForm" (ngSubmit)="addNewsSubmit()">
                <p class="headForm"  styleFormHead [valid]="!addNewsForm.get('text')?.invalid" [dirty]="addNewsForm.get('text')?.dirty">
                    Добавить новость:
                </p>
                <div class="inputBox" styleFormTR [valid]="!addNewsForm.get('text')?.invalid" [dirty]="addNewsForm.get('text')?.dirty">
                    <textarea formControlName="text" class="textValue"  rows="5" wrap="soft" styleValid [valid]="!addNewsForm.get('text')?.invalid" [dirty]="addNewsForm.get('text')?.dirty"></textarea>
                    <p class="error" *ngIf="addNewsForm.get('text')?.dirty && addNewsForm.get('text')?.invalid">
                        В тексте сообщения присутсвуют недопустимые символы
                    </p>
                </div>
                <div class="submitBlock">              
                    <button  [ngClass]="{submitBtn:true, disabled: addNewsForm.invalid}"  type="submit" (submit)="addNewsSubmit()" [disabled]="addNewsForm.invalid" title="Нажмите, чтобы добавить новость">Добавить</button>
                </div>
            </form>
        </div>
        <div class="addOrEdithNews">
            <p class="headForm"styleFormHead [valid]="getStatusFormsValid()">
                Редактировать новости:
            </p>
            <div *ngFor="let news of (content$|async) as content; let i=index">
                <app-news-block  [newsCurr]="news" [adminWork]="adminWork" (edithValid)="setStatusFormsValid($event, i)" (edithNews)="setNew($event, content)"></app-news-block>
                <p>{{edithNewsValid[i]}}</p>
            </div>
            <!-- <form novalidate [formGroup]="edithNewsForm" (ngSubmit)="edithNewsSubmit()"> 
                
                <div class="inputBoxArray" formArrayName="newsText">
                    <div *ngFor="let newsCurr of content$|async; let j=index">
                        <div class="inputBox" *ngFor="let text of getFormsControls()['controls']; let i=index" styleFormTR [valid]="text.invalid">                       
                            <p class="dateNews" *ngIf="j===i">
                                Новости | {{newsCurr.dateOfPublication.toString() | dateNews}}
                            </p>
                            <textarea *ngIf="j===i" class="textValue" rows="7" wrap="soft" formControlName="{{i}}"></textarea>
                        </div>                        
                    </div>
                </div>
            </form>  
        -->          
        </div>
    </div>    
</ng-template>

<!-- Версия при пользовательском режиме -->
<ng-template #valueTemplate>
    <div class="newsContent"> 
        <div *ngFor="let news of content$|async">
            <app-news-block [newsCurr]="news"  [adminWork]="adminWork"></app-news-block>
        </div>
    </div>
</ng-template>