@import "/src/styles.less";
@import url('https://fonts.googleapis.com/css?family=Arimo'); 

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 50px;
}
.panel{
    //margin: 0 auto;
    padding: 5px;
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    align-content: space-around;

    .childPanel{
        border: 1px solid @color_green;
        margin: 4px;
        padding:4px;

        align-self: stretch;
        width:20%;
        min-height:275px;
    }
}