
<div class="main">
    <p>children works!</p>

    <div class="main">
        <p>about-found works!</p>
    
        <div class="panel">
            <table>
                <tr *ngFor="let ch of children|async">
                    <td>{{ch.id}}</td>
                    <td>{{ch.name}}</td>
                    <td>{{ch.patronym}}</td>
                    <td>{{ch.surname}}</td>
                    <td>{{ch.needSum}}</td>
                    <td>{{ch.donatSum}}</td>
                </tr>
            </table>
            <input [(ngModel)]="idC">
            <input [(ngModel)]="donateC">
            <button (click)="donate()">Donate</button>
        </div>
    </div>
</div>