
<div class="main">

    <div class="main">
    
        <div class="panel">
            <!-- <table> 
                <tr *ngFor="let ch of children|async">
                    <td>{{ch.id}}</td>
                    <td>{{ch.name}}</td>
                    <td>{{ch.patronym}}</td>
                    <td>{{ch.surname}}</td>
                    <td>{{ch.needSum}}</td>
                    <td>{{ch.donatSum}}</td>
                </tr>
            </table>
        -->
            <div *ngFor="let ch of children|async" class="childPanel">
                <dynamic-child [childCurr]="ch"></dynamic-child> 
            </div>
        </div>
        
        <input [(ngModel)]="idC" style="border: 1px solid black">
        <input [(ngModel)]="donateC" style="border: 1px solid black">
        <button (click)="donate()" style="border: 1px solid black">Donate</button>
    </div>
</div>