<!-- Компонент, включающий в себя шапку сайта = меню навигации -->
<header>
    <div class="logo">
        <a routerLink="/" class="logotype">
            <div><b>Фонд</b>НОНЦ</div>
            <span>помощь онкобольным детям</span>
        </a>
    </div>    
    <div class="menu">        
        <nav class="top-menu">            
            <ul class="menu-main">
              <li class="menu_point"><a class="menu_link" routerLink="/about" routerLinkActive="activePage">О фонде</a></li>
              <li class="menu_point"><a class="menu_link" routerLink="/news"  routerLinkActive="activePage">Новости</a></li>
              <li class="menu_point"><a class="menu_link" routerLink="/children"  routerLinkActive="activePage">Дети</a></li>
              <li class="menu_point"><a class="menu_link" routerLink="/needhelp"  routerLinkActive="activePage">Получить помощь</a></li>
              <li class="menu_point"><a class="menu_link" routerLink="/projects"  routerLinkActive="activePage">Проекты</a></li>
              <li class="menu_point"><a class="menu_link" routerLink="/reports"  routerLinkActive="activePage">Отчеты</a></li>
              <li class="menu_point"><a class="menu_link" routerLink="/partners"  routerLinkActive="activePage">Партнёрам</a></li>
              <li class="menu_point"><a class="menu_link" routerLink="/contacts"  routerLinkActive="activePage">Контакты</a></li>
              <li class="help"><a  class="menu_link"  routerLink="/">Помочь</a></li>
            </ul>
        </nav>
    </div>
</header>
