<div class="ngContent">
    <ng-container *ngIf="adminWork then inputTemplate else valueTemplate"></ng-container>
</div>



<!-- Версия при админ панели -->
<ng-template #inputTemplate>
    <div class="newsBlock"  styleFormTR [valid]="!edithOrDeleteForm.get('text')?.invalid" [dirty]="edithOrDeleteForm.get('text')?.dirty" >
        <form novalidate [formGroup]="edithOrDeleteForm"> 
            <div class="deleteBlock">
                <button class="deleteFormBtn" (click)="eventDelete()" title="Нажмите, что бы удалить эту новость" >x</button>
            </div>
            <div class="inputBox">  
                <div class="dateBlock">                     
                    <p class="dateNews" styleFormHead [valid]="!edithOrDeleteForm.get('text')?.invalid" [dirty]="edithOrDeleteForm.get('text')?.dirty">
                        Новости | {{newsCurr.dateOfPublication.toString() | dateNews}}
                    </p>
                </div>
                <textarea class="textValue" rows="7" wrap="soft" formControlName="text" styleValid [valid]="!edithOrDeleteForm.get('text')?.invalid"></textarea>
                <p class="error" *ngIf="edithOrDeleteForm.get('text')?.dirty && edithOrDeleteForm.get('text')?.invalid">
                    Содержание новости не должно быть пустым
                </p>
            </div> 
            <div class="edithBlock">            
                <button  [ngClass]="{btnForm:true, disabled: (edithOrDeleteForm.invalid || !edithOrDeleteForm.dirty) }" (click)="eventEdith()" [disabled]="(edithOrDeleteForm.invalid || !edithOrDeleteForm.dirty) " title="Нажмите, чтобы сохранить изменения новости">Сохранить изменения</button>
            </div>                    
        </form>                 
    </div>
</ng-template>

<!-- Версия при пользовательском режиме -->
<ng-template #valueTemplate>
    <div class="newsBlock">
        <div class="dateBlock">
            <p class="dateNews">
                Новости | {{newsCurr.dateOfPublication.toString() | dateNews}}
            </p>
        </div>
        <div class="newsContent">
            <p class="textNews">
                {{newsCurr.text}}
            </p>
        </div>
    </div>
</ng-template>